<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="哲人镇, 陈安廉, 陈濂, 哲学论坛, java, 人工智能, 机器学习">
    <meta name="description" content="哲人镇是一个计算机编程、哲学交流论坛">
    <meta name="Robots" content="all">
    <title>决策树</title>
    <link rel="icon" type="image/x-icon" href="/icon/favicon.ico">
    <style>
        * {
            padding: 0px;
            margin: 0px;
        }
    </style>
    <script src="/js/jquery-3.3.1.min.js"></script>
</head>
<body>

<canvas id="treeCanvas" width="100px" height="100px" style=""></canvas>

<script type="text/javascript" src="/js/jenel.js?v=2019111902"></script>
<script type="text/javascript" src="/js/factTree.js?v=2019112702"></script>
</body>
</html>