<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Draw a point with a mouse click</title>
  </head>

  <body onload="main()">
    <canvas id="webgl" width="400" height="400">
    Please use a browser that supports "canvas"
    </canvas>

    <script src="/js/webgl/webgl-utils.js"></script>
    <script src="/js/webgl/webgl-debug.js"></script>
    <script src="/js/webgl/cuon-utils.js"></script>
    <script src="/js/webgl/ClickedPoints.js"></script>
  </body>
</html>
